__pycache__
node_modules
output
*.swp
package-lock.json
__pycache__
.pytest_cache
.pydep
.venv
*.egg-info
web/src/.generated-endpoint-changes.text

# CDK asset staging directory
.cdk.staging
cdk.out

web/zola/public
web/zola/static
web/zola/generated

