<!doctype html>
<html lang="en">
<head>
	<title>{{ page.title | default(value=config.title) }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta name="twitter:card" content="summary_large_image">
	<meta property="og:title" content="{{ page.title | default(value=config.title) }}">
	<meta name="description" content="{{ page.description | default(value=config.description) }}">
	<meta property="og:description" content="{{ page.description | default(value=config.description) }}">
	<meta property="og:image" content="{{ config.base_url }}/og-image.png">
	<meta property="og:type" content="website">
	<link rel="canonical" href="{{ current_url | safe }}">
	<link rel="stylesheet" href="assets/uglyshit.css">
	<link rel="stylesheet" href="assets/fonts.css">
	<script defer src="assets/htmx.min.js"></script>
</head>

<body class="flex flex-col min-h-screen">
<div class="sticky top-0">
	<header class="bg-orange-600 text-white text-center text-lg py-1 font-semibold">{{ config.title }}</header>
	<nav class="bg-gray-100" hx-boost="true" hx-push-url="true">
		<button class="md:hidden p-1" hx-on:click="document.getElementById('nav-content').classList.toggle('hidden')">
			☰ Navigation
		</button>
		<div id="nav-content" class="hidden md:block">
			<div class="grid grid-cols-1 md:grid-cols-[auto_1fr] py-1">
				<div><span class="font-semibold px-2 md:px-4">AWS IPv6 Basics:</span></div>
				<div><ul class="flex flex-col space-y-1 sm:flex-row sm:space-x-3 sm:space-y-0">
					<li><a href="intro.html">Introduction</a></li>
					<li><a href="ingress.html">Ingress</a></li>
					<li><a href="egress.html">Egress</a></li>
					<li><a href="sdk-programming.html">Programming/SDK</a></li>
					<li><a href="faq.html">FAQ</a></li>
					<li><a href="resources.html">Resources</a></li>
				</ul></div>
				<div><span class="font-semibold px-2 md:px-4">Service API endpoints:</span></div>
				<div><ul class="flex flex-col space-y-1 sm:flex-row sm:space-x-3 sm:space-y-0">
					<li><a href="endpoints-summary.html">Summary</a></li>
					<li><a href="endpoints-services.html">By Service</a></li>
					<li><a href="endpoints-regions.html">By Region</a></li>
					<li><a href="endpoints-changes.html">Changes</a></li>
					<li><a href="endpoints-matrix.html">Matrix</a></li>
				</ul></div>
			</div>
		</div>
	</nav>
</div>

<main class="p-1 md:p-4">
{{ page.content | safe }}
</main>

<footer class="mt-auto border-t border-gray-300 p-1 text-xs bg-gray-100">
	<div>
		Contact: <a href="https://x.com/apparentorder">@apparentorder</a> on 𝕏itter, or <a href="mailto:apparentorder@neveragain.de">e-mail</a>.
	</div>

	<div>
		This site is a personal project. It is not affiliated with Amazon Web Services (AWS).
	</div>
</footer>
</body>
</html>