
    <!-- file: generate-endpoints-changes.py -->

    <h1>Recent changes in public API endpoints</h1>

    <div class="text-xs text-gray-500 font-light max-w-prose">
        This list is presented in <code>diff</code>-style output: Every
        endpoint beginning with a <code>+</code> was added, and every
        endpoint beginning with a <code>-</code> was removed &ndash; or
        changed, when paired with a <code>+</code> line.
    </div>

    <div>
<div id="changes-date-2025-06-27" class="text-sm mt-3">2025-06-27</div>
<ul id="changes-data-2025-06-27" class="text-xs ml-3">
<li><code>+ sts.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-06-26" class="text-sm mt-3">2025-06-26</div>
<ul id="changes-data-2025-06-26" class="text-xs ml-3">
<li><code>+ sts.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ sts.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-06-19" class="text-sm mt-3">2025-06-19</div>
<ul id="changes-data-2025-06-19" class="text-xs ml-3">
<li><code>+ sts.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-05-03" class="text-sm mt-3">2025-05-03</div>
<ul id="changes-data-2025-05-03" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-05-01" class="text-sm mt-3">2025-05-01</div>
<ul id="changes-data-2025-05-01" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul><div id="changes-date-2025-04-04" class="text-sm mt-3">2025-04-04</div>
<ul id="changes-data-2025-04-04" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-04-03" class="text-sm mt-3">2025-04-03</div>
<ul id="changes-data-2025-04-03" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul><div id="changes-date-2025-03-28" class="text-sm mt-3">2025-03-28</div>
<ul id="changes-data-2025-03-28" class="text-xs ml-3">
<li><code>+ apigateway.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ iam.global.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ iam.global.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ iam.global.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ iam.global.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-03-27" class="text-sm mt-3">2025-03-27</div>
<ul id="changes-data-2025-03-27" class="text-xs ml-3">
<li><code>+ apigateway.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ apigateway.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ apigateway.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-03-22" class="text-sm mt-3">2025-03-22</div>
<ul id="changes-data-2025-03-22" class="text-xs ml-3">
<li><code>- apigateway.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ apigateway.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-03-20" class="text-sm mt-3">2025-03-20</div>
<ul id="changes-data-2025-03-20" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-03-19" class="text-sm mt-3">2025-03-19</div>
<ul id="changes-data-2025-03-19" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul><div id="changes-date-2025-02-28" class="text-sm mt-3">2025-02-28</div>
<ul id="changes-data-2025-02-28" class="text-xs ml-3">
<li><code>+ ec2.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-02-27" class="text-sm mt-3">2025-02-27</div>
<ul id="changes-data-2025-02-27" class="text-xs ml-3">
<li><code>- ec2.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul><div id="changes-date-2025-02-27" class="text-sm mt-3">2025-02-27</div>
<ul id="changes-data-2025-02-27" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-02-27" class="text-sm mt-3">2025-02-27</div>
<ul id="changes-data-2025-02-27" class="text-xs ml-3">
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul><div id="changes-date-2025-01-25" class="text-sm mt-3">2025-01-25</div>
<ul id="changes-data-2025-01-25" class="text-xs ml-3">
<li><code>- ebs.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- ebs.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-01-25" class="text-sm mt-3">2025-01-25</div>
<ul id="changes-data-2025-01-25" class="text-xs ml-3">
<li><code>+ ebs.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ ebs.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ ebs.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ ebs.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ ebs.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ ebs.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ ebs.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ ebs.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ ebs.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-01-24" class="text-sm mt-3">2025-01-24</div>
<ul id="changes-data-2025-01-24" class="text-xs ml-3">
<li><code>- acm.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- acm.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- acm.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- acm.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- acm.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- acm.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- acm.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- acm.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- acm.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- aos.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>- aos.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- aos.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- aos.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- aos.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- api.detective.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- api.detective.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- api.detective.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- api.detective.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- bedrock.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- bedrock.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- bedrock.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- ebs.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- ebs.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- ebs.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ apigateway.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ apigateway.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ apigateway.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ apigateway.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>+ apigateway.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- eks-auth.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>- eks-auth.eu-central-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- eks-auth.eu-west-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- eks-auth.il-central-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- eks-auth.us-east-2.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- es.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- es.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- es.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- es.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- es.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- firehose.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>- firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>- firehose.eu-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- firehose.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- firehose.eu-west-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- firehose.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- firehose.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- firehose.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- firehose.us-east-2.amazonaws.com [ipv4] (default)</code></li>
<li><code>- firehose.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>- freetier.us-east-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- freetier.us-east-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- freetier.us-east-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- freetier.us-east-1.api.aws [ipv4, ipv6] (default)</code></li>
<li><code>- servicediscovery.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>- servicediscovery.eu-central-1.amazonaws.com [ipv4, ipv6] (default)</code></li>
<li><code>- servicediscovery.eu-west-1.amazonaws.com [ipv4, ipv6] (default)</code></li>
<li><code>- servicediscovery.il-central-1.amazonaws.com [ipv4] (default)</code></li>
<li><code>- servicediscovery.us-east-2.amazonaws.com [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2025-01-23" class="text-sm mt-3">2025-01-23</div>
<ul id="changes-data-2025-01-23" class="text-xs ml-3">
<li><code>+ acm.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-01-23" class="text-sm mt-3">2025-01-23</div>
<ul id="changes-data-2025-01-23" class="text-xs ml-3">
<li><code>+ acm.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.il-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.us-east-2.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2025-01-23" class="text-sm mt-3">2025-01-23</div>
<ul id="changes-data-2025-01-23" class="text-xs ml-3">
<li><code>+ acm.eu-central-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ acm.eu-west-1.api.aws [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2024-11-26" class="text-sm mt-3">2024-11-26</div>
<ul id="changes-data-2024-11-26" class="text-xs ml-3">
<li><code>- ebs.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>+ ebs.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2024-11-23" class="text-sm mt-3">2024-11-23</div>
<ul id="changes-data-2024-11-23" class="text-xs ml-3">
<li><code>- ebs.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ ebs.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
</ul><div id="changes-date-2024-11-20" class="text-sm mt-3">2024-11-20</div>
<ul id="changes-data-2024-11-20" class="text-xs ml-3">
<li><code>- eks-auth.cn-north-1.api.amazonwebservices.com.cn [ipv4] (default)</code></li>
<li><code>+ eks-auth.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>- firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>+ firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
</ul><div id="changes-date-2024-11-19" class="text-sm mt-3">2024-11-19</div>
<ul id="changes-data-2024-11-19" class="text-xs ml-3">
<li><code>- eks-auth.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ eks-auth.cn-north-1.api.amazonwebservices.com.cn [ipv4] (default)</code></li>
<li><code>- firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
</ul><div id="changes-date-2024-11-16" class="text-sm mt-3">2024-11-16</div>
<ul id="changes-data-2024-11-16" class="text-xs ml-3">
<li><code>- aos.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>+ aos.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2024-11-15" class="text-sm mt-3">2024-11-15</div>
<ul id="changes-data-2024-11-15" class="text-xs ml-3">
<li><code>- aos.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ aos.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul><div id="changes-date-2024-11-01" class="text-sm mt-3">2024-11-01</div>
<ul id="changes-data-2024-11-01" class="text-xs ml-3">
<li><code>- aos.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>+ aos.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>- firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>+ firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
</ul><div id="changes-date-2024-10-31" class="text-sm mt-3">2024-10-31</div>
<ul id="changes-data-2024-10-31" class="text-xs ml-3">
<li><code>- aos.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ aos.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>- firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4, ipv6] (dualstack)</code></li>
<li><code>+ firehose.cn-north-1.api.amazonwebservices.com.cn [ipv4] (dualstack)</code></li>
<li><code>- secretsmanager.cn-north-1.amazonaws.com.cn [ipv4, ipv6] (default)</code></li>
<li><code>+ secretsmanager.cn-north-1.amazonaws.com.cn [ipv4] (default)</code></li>
</ul></ul>
</div>
