
    <!-- file: generate-endpoints-regions.py -->
    <table class="progress-table font-light">
        <thead>
            <tr class="text-left">
                <th>Region</th>
                <th>IPv6 support per service &mdash; by default / opt-in / ipv4-only</th>
            </tr>
        </thead>

        <tbody>

        <tr class="progress-table-row">
            <td>af-south-1 (Cape Town)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.4%" title="service count ipv6-default: 22 (5.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 41.2%" title="service count ipv6-opt-in: 167 (41.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 8.4%" title="service count ipv4-only: 34 (8.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-east-1 (Hong Kong)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 6.2%" title="service count ipv6-default: 25 (6.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 39.0%" title="service count ipv6-opt-in: 158 (39.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.7%" title="service count ipv4-only: 31 (7.7%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-east-2 (Taipei)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 3.2%" title="service count ipv6-default: 13 (3.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 18.3%" title="service count ipv6-opt-in: 74 (18.3%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 11.4%" title="service count ipv4-only: 46 (11.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-northeast-1 (Tokyo)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.9%" title="service count ipv6-default: 32 (7.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 54.8%" title="service count ipv6-opt-in: 222 (54.8%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 21.0%" title="service count ipv4-only: 85 (21.0%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-northeast-2 (Seoul)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.2%" title="service count ipv6-default: 29 (7.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 50.6%" title="service count ipv6-opt-in: 205 (50.6%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 16.5%" title="service count ipv4-only: 67 (16.5%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-northeast-3 (Osaka)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.2%" title="service count ipv6-default: 21 (5.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 37.3%" title="service count ipv6-opt-in: 151 (37.3%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 9.6%" title="service count ipv4-only: 39 (9.6%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-south-1 (Mumbai)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.2%" title="service count ipv6-default: 29 (7.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 51.6%" title="service count ipv6-opt-in: 209 (51.6%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 15.6%" title="service count ipv4-only: 63 (15.6%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-south-2 (Hyderabad)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.9%" title="service count ipv6-default: 20 (4.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 32.8%" title="service count ipv6-opt-in: 133 (32.8%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.7%" title="service count ipv4-only: 31 (7.7%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-1 (Singapore)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.4%" title="service count ipv6-default: 30 (7.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 51.6%" title="service count ipv6-opt-in: 209 (51.6%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 22.0%" title="service count ipv4-only: 89 (22.0%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-2 (Sydney)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.4%" title="service count ipv6-default: 30 (7.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 55.1%" title="service count ipv6-opt-in: 223 (55.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 22.5%" title="service count ipv4-only: 91 (22.5%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-3 (Jakarta)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.9%" title="service count ipv6-default: 20 (4.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 34.8%" title="service count ipv6-opt-in: 141 (34.8%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 6.7%" title="service count ipv4-only: 27 (6.7%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-4 (Melbourne)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.9%" title="service count ipv6-default: 20 (4.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 30.9%" title="service count ipv6-opt-in: 125 (30.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.2%" title="service count ipv4-only: 29 (7.2%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-5 (Malaysia)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.4%" title="service count ipv6-default: 22 (5.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 28.9%" title="service count ipv6-opt-in: 117 (28.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 8.1%" title="service count ipv4-only: 33 (8.1%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-6 (New Zealand)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 3.2%" title="service count ipv6-default: 13 (3.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 14.8%" title="service count ipv6-opt-in: 60 (14.8%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 8.9%" title="service count ipv4-only: 36 (8.9%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ap-southeast-7 (Thailand)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.4%" title="service count ipv6-default: 18 (4.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 24.7%" title="service count ipv6-opt-in: 100 (24.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 8.6%" title="service count ipv4-only: 35 (8.6%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ca-central-1 (Central)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.2%" title="service count ipv6-default: 29 (7.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 51.1%" title="service count ipv6-opt-in: 207 (51.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 16.3%" title="service count ipv4-only: 66 (16.3%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>ca-west-1 (Calgary)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.4%" title="service count ipv6-default: 18 (4.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 27.2%" title="service count ipv6-opt-in: 110 (27.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 6.4%" title="service count ipv4-only: 26 (6.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>cn-north-1 (Beijing)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 2.0%" title="service count ipv6-default: 8 (2.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 27.7%" title="service count ipv6-opt-in: 112 (27.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 11.1%" title="service count ipv4-only: 45 (11.1%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>cn-northwest-1 (Ningxia)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 2.7%" title="service count ipv6-default: 11 (2.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 27.2%" title="service count ipv6-opt-in: 110 (27.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 10.9%" title="service count ipv4-only: 44 (10.9%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-central-1 (Frankfurt)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.7%" title="service count ipv6-default: 31 (7.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 56.3%" title="service count ipv6-opt-in: 228 (56.3%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 21.2%" title="service count ipv4-only: 86 (21.2%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-central-2 (Zurich)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.2%" title="service count ipv6-default: 21 (5.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 32.8%" title="service count ipv6-opt-in: 133 (32.8%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.4%" title="service count ipv4-only: 30 (7.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-north-1 (Stockholm)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 6.4%" title="service count ipv6-default: 26 (6.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 44.4%" title="service count ipv6-opt-in: 180 (44.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 12.8%" title="service count ipv4-only: 52 (12.8%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-south-1 (Milan)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.9%" title="service count ipv6-default: 20 (4.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 37.0%" title="service count ipv6-opt-in: 150 (37.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 9.1%" title="service count ipv4-only: 37 (9.1%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-south-2 (Spain)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.7%" title="service count ipv6-default: 23 (5.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 36.5%" title="service count ipv6-opt-in: 148 (36.5%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 8.6%" title="service count ipv4-only: 35 (8.6%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-west-1 (Ireland)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 8.1%" title="service count ipv6-default: 33 (8.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 55.1%" title="service count ipv6-opt-in: 223 (55.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 23.7%" title="service count ipv4-only: 96 (23.7%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-west-2 (London)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.2%" title="service count ipv6-default: 29 (7.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 53.6%" title="service count ipv6-opt-in: 217 (53.6%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 17.8%" title="service count ipv4-only: 72 (17.8%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eu-west-3 (Paris)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 6.9%" title="service count ipv6-default: 28 (6.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 44.0%" title="service count ipv6-opt-in: 178 (44.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 12.1%" title="service count ipv4-only: 49 (12.1%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>eusc-de-east-1 (Germany)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 2.7%" title="service count ipv6-default: 11 (2.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 0.0%" title="service count ipv6-opt-in: 0 (0.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 28.1%" title="service count ipv4-only: 114 (28.1%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>il-central-1 (Tel Aviv)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.7%" title="service count ipv6-default: 19 (4.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 34.6%" title="service count ipv6-opt-in: 140 (34.6%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 6.7%" title="service count ipv4-only: 27 (6.7%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>me-central-1 (UAE)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 6.2%" title="service count ipv6-default: 25 (6.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 35.1%" title="service count ipv6-opt-in: 142 (35.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.4%" title="service count ipv4-only: 30 (7.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>me-south-1 (Bahrain)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.7%" title="service count ipv6-default: 23 (5.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 39.3%" title="service count ipv6-opt-in: 159 (39.3%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 6.7%" title="service count ipv4-only: 27 (6.7%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>mx-central-1 (Central)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.2%" title="service count ipv6-default: 17 (4.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 24.9%" title="service count ipv6-opt-in: 101 (24.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.4%" title="service count ipv4-only: 30 (7.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>sa-east-1 (Sao Paulo)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 6.4%" title="service count ipv6-default: 26 (6.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 44.2%" title="service count ipv6-opt-in: 179 (44.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 12.6%" title="service count ipv4-only: 51 (12.6%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>us-east-1 (N. Virginia)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 8.4%" title="service count ipv6-default: 34 (8.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 61.2%" title="service count ipv6-opt-in: 248 (61.2%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 24.9%" title="service count ipv4-only: 101 (24.9%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>us-east-2 (Ohio)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 7.9%" title="service count ipv6-default: 32 (7.9%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 52.1%" title="service count ipv6-opt-in: 211 (52.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 17.0%" title="service count ipv4-only: 69 (17.0%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>us-gov-east-1 (US-East)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 3.7%" title="service count ipv6-default: 15 (3.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 33.1%" title="service count ipv6-opt-in: 134 (33.1%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 7.9%" title="service count ipv4-only: 32 (7.9%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>us-gov-west-1 (US-West)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 4.0%" title="service count ipv6-default: 16 (4.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 35.8%" title="service count ipv6-opt-in: 145 (35.8%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 12.1%" title="service count ipv4-only: 49 (12.1%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>us-west-1 (N. California)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 5.7%" title="service count ipv6-default: 23 (5.7%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 43.5%" title="service count ipv6-opt-in: 176 (43.5%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 10.4%" title="service count ipv4-only: 42 (10.4%)"></div>
                </div>
            </td>
        </tr>
    
        <tr class="progress-table-row">
            <td>us-west-2 (Oregon)</td>
            <td class="progress-table-cell">
                <div class="progress-bar">
                    <div class="progress-bar-segment endpoint-ipv6" style="width: 8.4%" title="service count ipv6-default: 34 (8.4%)"></div>
                    <div class="progress-bar-segment endpoint-ipv6-dualstack" style="width: 58.0%" title="service count ipv6-opt-in: 235 (58.0%)"></div>
                    <div class="progress-bar-segment endpoint-ipv4" style="width: 24.4%" title="service count ipv4-only: 99 (24.4%)"></div>
                </div>
            </td>
        </tr>
    </table>
