
    <!-- file: generate-endpoints-summary.py -->
    <div class="flex flex-col md:flex-row gap-4" hx-boost="true" hx-push-url="true">
        <div class="max-w-prose">
            <p class="text-lg">
                This summary chart shows how many AWS services support IPv6 client applications
                on their public API endpoints.
            </p>

            <p class="text-sm">
                Other pages of this site provide more detailed data on service endpoints, and some
                documentation on why this matters for developing AWS applications with IPv6 support.
            </p>

            <p class="text-sm">
                Additionally, there are resources for IPv6-enabled AWS architectures, like IPv6
                support for IPv6 ingress and egress traffic of key AWS services and other design
                considerations.
            </p>
        </div>

        <div class="pie-chart-container">
            <div class="pie-chart" style="background: conic-gradient(var(--color-endpoint-ipv6) 0.0% 9.4%, var(--color-endpoint-ipv6-dualstack) 9.4% 60.5%, var(--color-endpoint-mixed) 60.5% 74.0%, var(--color-endpoint-ipv4) 74.0% 100.0%);"></div>
        </div>
        <div class="pie-legend">
            <div class="pie-legend-item">
                <span class="pie-legend-color endpoint-ipv6"></span>
                IPv6 by default: 37 services (9%)
            </div>
            <div class="pie-legend-item">
                <span class="pie-legend-color endpoint-ipv6-dualstack"></span>
                IPv6 with SDK opt-in: 200 services (51%)
            </div>
            <div class="pie-legend-item">
                <span class="pie-legend-color endpoint-mixed"></span>
                Inconsistent across regions: 53 services (14%)
            </div>
            <div class="pie-legend-item">
                <span class="pie-legend-color endpoint-ipv4"></span>
                IPv4 only: 102 services (26%)
            </div>
            <div class="text-xs text-gray-400 max-w-prose">
                Services total: 392. Data for AWS commercial regions only, as
                the China / GovCloud / EU Sovereign Cloud partitions have significant differences.
            </div>
        </div>
    </div>
