<h1>AWS SDK Programming &mdash; Using Service APIs over IPv6</h1>

<div class="max-w-prose font-semibold">
    This page is work in progress. Maybe in a few weeks?
</div>

<div class="max-w-prose mt-4">
    <p>
        In the meantime, please refer to my
        <a href="https://tty.neveragain.de/2024/05/20/aws-ipv6-egress.html#aws-service-endpoints-and-client-applications-aws-cli-and-sdk">blog post</a>
        on IPv6 egress on AWS. Despite the title, it has a section called <i>AWS Service Endpoints and Client Applications (AWS CLI and SDK)</i> that
        goes into much detail.
    </p>
</div>
