/*
 * Amazon Ember. Per Usage Guidelines: "To include these designs in your work
 * there are no licenses payments, no royalties, no copyright or attribution
 * notices required."
 *
 * Subsetted for web use - only includes Latin characters.
 */

@font-face {
    font-family: Amazon Ember;
    font-style: normal;
    font-weight: 400;
    src: url("ember-rg.woff2") format("woff2");
}

@font-face {
    font-family: Amazon Ember;
    font-style: italic;
    font-weight: 400;
    src: url("ember-rg-it.woff2") format("woff2");
}

@font-face {
    font-family: Amazon Ember;
    font-style: normal;
    font-weight: 700;
    src: url("ember-bd.woff2") format("woff2");
}

@font-face {
    font-family: Amazon Ember;
    font-style: italic;
    font-weight: 700;
    src: url("ember-bd-it.woff2") format("woff2");
}
