name: deploy to awsipv6 s3
on:
  workflow_dispatch:
  schedule:
    - cron: '15 13 * * *'
    
permissions:
  id-token: write
  contents: read
  
jobs:
  deploy_source:
    name: deploy to awsipv6 s3
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::329261680777:role/awsipv6-github
          role-session-name: github-action-copy-s3
          aws-region: eu-central-1
      - name: install stuff
        run: |
          npm install -D tailwindcss
          sudo apt install -y python3-{dateutil,jmespath}
      - name: build beta
        run: |
          bash awsipv6-update.sh
      - name: build live
        run: |
          bash awsipv6-update.sh --live
